<h2>Introduce Yourself!</h2>
<form method="POST" action="/posts/new">
    <label for="firstName">Name</label>
    <input id="firstName" type="text" name="firstName">
    <label for="iceCream">Favorite Ice Cream FLavor</label>
    <input id="iceCream" type="text" name="iceCream">
    <input type="submit">
</form>